<div class="container mt-5">
    <h2>Ações Compradas</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Símbolo</th>
          <th>Quantidade</th>
          <th>Preço Unitario</th>
          <th>Valor da compra</th>
          <th>Valor atual</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of ownedStocks">
          <td>{{ stock.symbol }}</td>
          <td>{{ stock.quantity }}</td>
          <td>{{stock.preco_un}}</td>
          <td>{{stock.preco_un * stock.quantity}}</td>
          <td>{{ (stock.preco_un * stock.quantity) - (stock.quantity * getStockQuote(stock.symbol)?.data.c) | number: '1.2-2'}}</td>
        </tr>
        <tr *ngIf="ownedStocks.length === 0">
          <td colspan="2">Você não possui nenhuma ação.</td>
        </tr>
      </tbody>
    </table>
  </div>
  